/* Web Page */

body {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

h1, h2 {
	font-family: 'Roboto Slab', serif;
}

p {
	text-align: justify;
}

header {
	background-image: url(../images/gamepad.jpg);
	background-position: center top;
	background-size: cover;
	margin: 0;
	height: 100vh;
}

/* Navigation */

nav ul a {
	color: #000000;
}

#nav-mobile {
	width: 75%;
}

.navbar-logo {
	height: 1.8em;
	margin-top: .1em;
}

.button-collapse .material-icons {
	color: #000000;
}

.slab {
	font-family: 'Roboto Slab', serif;
	text-decoration: underline;
}

/* Screens */

#screens img {
	padding: 5%;
	cursor: pointer;
}

.materialboxed { 
	display: inline-block; 
}

/* Icons */

.material-icons {
	font-size: inherit;
}

.fa {
	color: #FFFFFF;
}